<h1>Carrito</h1>
<hr>
<section class="py-4">
    <div class="container p-0">
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Productos</td>
                    <td>Cantidad</td>
                    <td></td>
                    <td>Precio</td>
                    <td>Subtotal</td>
                </tr>
            </thead>
            <tbody>
                {{#each cart.products}}
                <tr>
                    <td>{{product.title}}</td>
                    <td>{{quantity}}</td>
                    <td>
                        <form class="ajax-form" method="delete"
                            action="/api/carts/{{../user.cart}}/product/{{product._id}}">
                            <button type="submit" class="btn btn-danger mx-4">
                                <i class="bi bi-trash-fill mx-2"></i>
                            </button>
                        </form>
                    </td>
                    <td>{{product.price}}</td>
                    <td>{{productPriceTotal}}</td>
                </tr>
                {{/each}}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Total:</td>
                    <td>{{cart.totalPrice}}</td>
                </tr>
            </tbody>
        </table>
        <div class="row mb-3 d-flex align-items-end flex-column">
            <button type="button" id="checkout" data-id="{{cart._id}}"
                class="btn btn-success py-2 col-sm-12 col-md-4 col-lg-4 col-xl-3 col-xxl-2">
                Finalizar la compra
            </button>
        </div>
        <div id="wallet_container"></div>
    </div>
</section>
<script src="/js/forms.js"></script>
<script src="/js/checkout.js"></script>
<script src="https://sdk.mercadopago.com/js/v2"></script>