<div class="d-flex flex-column justify-content-center align-items-center" style="height:80vh;">
<h1 class="my-4">{{pageTitle}}</h1>
    <div class="row mb-3">
        Nombre: {{user.first_name}}
    </div>
    <div class="row mb-3">
        Apellido: {{user.last_name}}
    </div>
    <div class="row mb-3">
        Email: {{user.email}}
    </div>
    {{#if user.rol}}
        <div class="row mb-3">
            Rol: {{user.rol}}
        </div>
    {{/if}}
</div>
