<h1>{{pageTitle}}</h1>
<hr>
<section class="py-4">
    <div class="container p-0">
        <div class="row">
            {{#each users.payload}}
            <div class="card p-1 m-1 col-sm-12 col-md-5 col-lg-4 col-xl-3 col-xxl-3">
                <div class="card-body">
                    <h5 class="card-title">Email: {{email}}</h5>
                    <p class="card-text">Nombre: {{first_name}}</p>
                    <p class="card-text">Apellido: {{last_name}}</p>
                    <p class="card-text">ID: {{id}}</p>
                    <p class="card-text">Ultima vez: {{last_connection}}</p>
                    <p class="card-text">Rol: {{rol}}
                        {{#if (is rol "premium") }}
                        <button type="button" class="usuario-premium btn btn-primary mx-4" data-id="{{id}}">
                            <i class="bi bi-toggle-on"></i>
                        </button>
                        {{else}}
                        <button type="button" class="usuario-premium btn btn-secondary mx-4" data-id="{{id}}">
                            <i class="bi bi-toggle-off"></i>
                        </button>
                        {{/if}}
                    </p>
                </div>
                <div class="my-2">
                    <button type="button" class="borrar-usuario btn btn-danger mx-4" data-id="{{id}}">
                        Borrar
                    </button>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="d-flex justify-content-center align-items-center my-1">
            {{#if users.hasPrevPage}}
            <a href="/?page=1">
                <button type="button" class="btn btn-primary mx-4"><i class="bi bi-chevron-bar-left"></i></button>
            </a>
            <a href="/?page={{users.prevPage}}">
                <button type="button" class="btn btn-primary mx-4"> <i class="bi bi-chevron-left"></i> </button>
            </a>
            {{else}}
            <button type="button" class="btn btn-secondary mx-4"><i class="bi bi-chevron-bar-left"></i></button>
            <button type="button" class="btn btn-secondary mx-4"> <i class="bi bi-chevron-left"></i> </button>
            {{/if}}
            {{users.page}}
            {{#if users.hasNextPage}}
            <a href="/?page={{users.nextPage}}">
                <button type="button" class="btn btn-primary mx-4"> <i class="bi bi-chevron-right"></i> </button>
            </a>
            <a href="/?page={{users.totalPages}}">
                <button type="button" class="btn btn-primary mx-4"><i class="bi bi-chevron-bar-right"></i></button>
            </a>
            {{else}}
            <button type="button" class="btn btn-secondary mx-4"> <i class="bi bi-chevron-right"></i> </button>
            <button type="button" class="btn btn-secondary mx-4"><i class="bi bi-chevron-bar-right"></i></button>
            {{/if}}
        </div>
    </div>
</section>